{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center mb-4">Liste des Utilisateurs</h1>
                <style>
                    .blue-text {
                        color: blue;
                    }
                </style>
                <form id="userForm">
                    <div class="row">
                        {% for user in users %}
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title"><span class="blue-text">{{ user.firstname }}</span> <span class="blue-text">{{ user.lastname }}</span></h5>
                                    <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
                                    <p class="card-text"><strong>Genre:</strong> {{ user.genre }}</p>
                                    <p class="card-text"><strong>RGPD:</strong> {% if user.rgpd %}Oui{% else %}Non{% endif %}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
