{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center mb-4">Liste des Devis</h1>
                <form id="quoteForm">
                    <div class="row">
                        {% for quote in quotes %}
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title"><span class="blue-text">{{ quote.title }}</span></h5>
                                    <p class="card-text"><strong>Description:</strong> {{ quote.description }}</p>
                                    <p class="card-text"><strong>Montant:</strong> {{ quote.amount }}</p>
                                    <p class="card-text"><strong>Date de Création:</strong> {{ quote.created_at }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
